h1 {
  padding-left: 1em;
  font-family:Calibri, sans-serif;
  color:#000000;
  text-decoration: none;
}


body {
  background-repeat:repeat;
  background-position:top left;
  background-attachment:fixed;
  /* https://www.w3schools.com/css/css3_gradients.asp */
  /*For textures: https://www.transparenttextures.com/*/
  background-image: url("images/arches.png"), linear-gradient(to bottom right, white, hsl(195, 100%, 75%));
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 100vh;
  /*justify-content: space-between;*/
}

/* slider from w3 schools */

.switch {
  position: absolute;
  right: 1em;
  display: inline-block;
  width: var(--slider_width);
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  /*-webkit-transform: translateX(4.5em);
  -ms-transform: translateX(4.5em);*/
  transform: translateX(calc(var(--slider_width) - 1.05em));
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

:root {
  --slider_width: 7em;
}

.slider-title {
  text-align: center;
  display: table;
  width: calc(var(--slider_width)-1em);
  margin: auto;
  padding-bottom: 20%;
  transform: translateY(-5%);
}