/* Source: https://codepen.io/danmalarkey/pen/oNmEwm?editors=0110 */
/* todo: figure out how this works and what I can remove */
/* and maybe compile it to css from less: https://www.cssportal.com/less-to-css/ */

.dropdown {
  position: relative;
  display: inline-block;
  
}

.down-caret {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000000 transparent transparent transparent;
  display: inline-block;
  margin-left: 6px;
  top: -3px;
  position: relative;
  transform: rotate(0deg); /* this controls the rotation, fix this */
  transition: all .25s ease-in;
}

  .open-caret {
    transform: rotate(90deg);
    transition: all .25s ease-out;
  }

/*---*/
.hidden {
	display: none;
}

.br-hidden {
	display: none;
}

div.bookmarks-content > * {
	font-family: Tahoma;
}

form#search {
  display: flex;
} 

/* Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_searchbar2 */
.topnav {
  overflow: hidden;
  margin-top: 2%;
  margin-bottom: 3%;
}


.topnav input[type=text] {
  padding: 6px;
  padding-right: 0px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 40%;
}

.topnav .search-container button[type=reset] {
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background: #ffffff;
}

.topnav .search-container {
 	margin: auto;
}

.topnav .search-container button {
  padding: 6px;
  margin-top: 8px;
  margin-right: 5px;
  background: #f8d775;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #f4c025;
}

@media screen and (max-width: 600px) {
  .topnav input[type=text], .topnav .search-container button {
    padding: 14px;
  }
}

h2 {
	margin: 0.5%;
}
