/* Source: https://codepen.io/danmalarkey/pen/oNmEwm?editors=0110 */
/* todo: figure out how this works and what I can remove */
/* and maybe compile it to css from less: https://www.cssportal.com/less-to-css/ */

.dropdown {
  position: relative;
  display: inline-block;
  
  .drop {
    padding: 1rem;
    border-radius: 6px;
    position: relative;
    display: inline-block;
  }
  
  > .dropdown-menu {
    width: @base-size * 15;
    list-style: none;
    position: absolute;
    float: left;
    max-height: 0;
    overflow: hidden;
    transition: all .55s linear;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
    
    &.open {
      max-height: 300px;
      height: auto;
      transition: all .25s linear;
    }
    
    > li > a {
      padding: .5rem 1rem;
      display: block;
      color: #555;
      text-align: left;
      transition: all .25s linear;
      &:hover {
        background-color: @base-blue;
        color: @base-white;
      }
    }
  }
}

.down-caret {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000000 transparent transparent transparent;
  display: inline-block;
  margin-left: 6px;
  top: -3px;
  position: relative;
  transform: rotate(0deg);
  transition: all .25s ease-in;
}

  .open-caret {
    transform: rotate(90deg);
    transition: all .25s ease-out;
  }

/*---*/
.hidden {
	display: none;
}

.br-hidden {
	display: none;
}

div.intro.manila > * {
	font-family: Tahoma;
}