#viewport
{
	position:relative;
	left:0px;
	top:0px;
	width:1000px;
	height:1000px;
	border-style:solid;
	background-image:url('images/butterfly/clouds.jpg');
}

#butterflybody
{
	position:absolute;
	visibility:visible;
	right: 54px;
	bottom: 127px;
	transform-origin: 45% 50%;
}

#w1
{
	position:absolute;
	visibility:visible;
	/*right: 44px;*/
   	/*bottom: 150px;*/
   	transform-origin: left bottom;
}