#viewport
{
position:relative;
left:0px;
top:0px;
width:460px;
height:280px;
border-style:solid;
background-image:url('images/butterfly/clouds.jpg');
}
#body
{
position:absolute;
visibility:visible;
}
#w1
{
position:absolute;
visibility:hidden;
}
#w2
{
position:absolute;
visibility:hidden;
}
#w3
{
position:absolute;
visibility:hidden;
}
#w4
{
position:absolute;
visibility:hidden;
}
#w5
{
position:absolute;
visibility:hidden;
}
#w6
{
position:absolute;
visibility:hidden;
}