/*html {
  display: flex;
  margin: 0px;
}*/

body {
	background-repeat:no-repeat;
	background-position:top left;
	background-attachment:fixed;
	/* https://www.w3schools.com/css/css3_gradients.asp */
  background-image: linear-gradient(to bottom right, white, hsl(195, 100%, 75%));
  display: flex;
  flex-direction: column;
  margin: 0px;
  /*padding-inline-start: 1em;*/
}

h1 {
  padding-left: 1em;
	font-family:Calibri, sans-serif;
	color:#000000;
  text-decoration: none;
}

h2 {
	font-family:Georgia, serif;
	font-style:normal;
	font-weight:normal;
	color:#000000;
}

p {
	font-family: Calibri;
}

a {
  color: black;
}

/* from https://www.w3schools.com/howto/howto_css_center-vertical.asp
it should be illegal to make vertical centering this complicated */
.centered {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.centered > a {
  flex: 1;
}

.centered > img, svg {
  flex: 3;
  margin: auto;
  padding-top: 2em;
}

svg.bi-book {
  width: 80px;
  height: 80px;
  /*fill: #f09b00;*/
  fill: black;
}

.centered > img {
  width: 50%;
}

.intro {
  padding-left: 0.5em;
  background-color: #b2e9ff;
}

.horizontally-centered {
  /*margin: auto;
  width: 50%;*/
  display: flex;
  justify-content: flex-start;
}

.ffolder {
  margin: 1em;
  flex: 1;
  max-width: 245px;
}

.intro_pic {
  margin-left: 15px;
  margin-right: 15px;
}


/* https://blogs.ntu.edu.sg/ntulibrary/2018/09/12/how-to-align-images-on-your-website/*/
/*mobile*/
@media (min-width: 600px) {
  .intro_pic {
    float: right;
    width: 200px; /*change this*/
  }
}

@media (max-width: 600px) {
  .intro_pic {
    float: center;
    height: 75vh;
  }
  .horizontally-centered, .footer {
  flex-direction: column;
  }

  .horizontally-centered {
    margin: auto;
  }
}

.folder_pic {
  width: 60%;
}

.content {
	padding-left: 1em;
	padding-right: 1em;
}

.manila {
/* color referenced from https://www.schemecolor.com/windows-10-folder-yellow-colors.php*/
	background-color:#ffe9a2;
  padding-left: 2em;
  border-top: 4px solid #f8d775;
}



.footer {
  padding: 1em;
  display: flex;
}

/*from https://codepen.io/Kerruba/pen/MXNoeG */
:root {
  --bhue: 195; 
  --bsat: 100;
  --blig: 110;
  --light:hsl(var(--bhue), calc(var(--bsat)*1%), calc(var(--blig)*1% - 15%));
  --dark:hsl(var(--bhue), calc(var(--bsat)*1%), calc(var(--blig)*1% - 20%));
  --darkest:hsl(var(--bhue), calc(var(--bsat)*1%), calc(var(--blig)*1% - 35%));
}


.ribbon-color {
  background: linear-gradient(90deg, var(--dark) 0%, var(--light) 10%, var(--dark) 20%, var(--darkest) 50%, var(--dark) 80%, var(--light) 90%, var(--dark) 100%); /* w3c */
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  border-top: 1px solid var(--light);
  border-bottom: 1px solid var(--dark);
}

div .contact-details {
  border: 1px solid navy;
  /*float: left;*/
  display: block;
  flex: 1;
  margin: auto;
}

div .contact-details > ul {
  font-family: Calibri;
  padding: 1em;
  padding-inline-start: 1em;
  padding-inline-end: 1em;
}

div .contact-details a {
  font-family: Calibri;
}

.contact-details > li  {
  float: center;
  display: block;
  margin: auto;
  border-bottom: 1px dashed navy;
}

.history-acknowledgment {
  margin-left: 10%;
  float: center;
  flex: 2;
}

/*everything nav bar related below*/
.current-tab {
  color: #232a34;
  font-weight: bold;
}

li a {
  font-family: Georgia;
  text-shadow: white 0 2px 1px;
}

nav ul > li a:hover, nav ul > li a:focus {
    color: #232a34;
}


/*mobile*/
@media (max-width: 70em) {
  .menu_main_nav_area {
    display: none;
  }
  nav ul {
    padding-left: 2em;
    padding-right: 2em;
  }

  nav ul > li {
    display: inherit;
    padding-left: 0.25em
  }

  li > div {
    display: inherit;
  }

  nav ul > li a {
    color: #a6a6a6;
    text-decoration: none;
    display: inherit;
    font-size: 150%;
  }

  p {
    font-size: 125%;
  }

  .hamburger {
    display: block;
    padding-left: 2em;
    padding-bottom: 1em;
  }

  nav ul > li a:hover, nav ul > li a:focus {
    border-left: 1px solid black;
  }

  nav ul > li:nth-child(4n) {
    border-left: solid #f0d001;
  }

  nav ul > li:nth-child(2n+1) {
    border-left: solid #95c93d;
  }
  nav ul > li:nth-child(6n+1) {
    border-left: solid #c768ff;
  }

  nav ul > li:nth-child(4n+2) {
    border-left: solid #7cb5ec;
  }

}

/*desktop*/
@media (min-width: 70em) {
  .hamburger {
    display: none;
  }
  .menu_main_nav_area {
    display: block;
  }

 /* .below-nav {
   padding: https://stackoverflow.com/questions/26402156/put-div-below-navigation-bar-and-dont-overlap-content
    padding-top: 90px;
  }*/
  /* style from https://phoenixweb.com.au/rounded-manila-folder-style-menu-tabs-using-css-triangles/ */
  /* converted using https://sass.js.org/ */
  /* I've edited this to have the color scheme I want */
  nav {
    display: block;
    margin-left: 30px;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  nav ul > li {
    z-index: 2;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #f1f1f1;
    border-top-width: 0.5em;
    border-top-style: solid;
    box-sizing: content-box;
    min-height: 4em;
    position: relative;
    display: block;
    float: left;
  }

  nav ul > li a {
    padding: 2em;
    color: #a6a6a6;
    text-decoration: none;
    display: block;
  }

  nav ul > li .curved-tabs,
  nav ul > li .curved-tabs:before,
  nav ul > li .curved-tabs:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    bottom: 0;
    border-style: solid;
  }

  nav ul > li .curved-tabs-l,
  nav ul > li .curved-tabs-l:before,
  nav ul > li .curved-tabs-l:after {
    border-color: transparent transparent #f1f1f1 transparent;
  }

  nav ul > li .curved-tabs-r,
  nav ul > li .curved-tabs-r:before,
  nav ul > li .curved-tabs-r:after {
    border-color: transparent transparent transparent #f1f1f1;
  }

  nav ul > li .curved-tabs-1 {
    border-width: 0 0 27px 5px;
    left: -4.5px;
  }

  nav ul > li .curved-tabs-1:before {
    border-width: 0 0 5px 27px;
    right: 0;
    bottom: -27px;
  }

  nav ul > li .curved-tabs-1:after {
    border-width: 0 0 12px 22px;
    right: 0;
    bottom: -27px;
  }

  nav ul > li .curved-tabs-2 {
    border-width: 0 0 22px 12px;
    left: -11.5px;
  }

  nav ul > li .curved-tabs-2:before {
    border-width: 0 0 24px 10px;
    right: 0;
    bottom: -22px;
  }

  nav ul > li .curved-tabs-2:after {
    border-width: 0 0 10px 24px;
    right: 0;
    bottom: -22px;
  }

  nav ul > li .curved-tabs-3 {
    border-width: 0 0 20px 15px;
    left: -14.5px;
  }

  nav ul > li .curved-tabs-3:before {
    border-width: 0 0 15px 20px;
    right: 0;
    bottom: -20px;
  }

  nav ul > li .curved-tabs-3:after {
    border-width: 0 0 17px 17px;
    right: 0;
    bottom: -20px;
  }

  nav ul > li .curved-tabs-4 {
    border-width: 27px 0 0 5px;
    right: -4.5px;
  }

  nav ul > li .curved-tabs-4:before {
    border-width: 5px 0 0 27px;
    left: -5px;
  }

  nav ul > li .curved-tabs-4:after {
    border-width: 12px 0 0 22px;
    left: -5px;
  }

  nav ul > li .curved-tabs-5 {
    border-width: 22px 0 0 12px;
    right: -11.5px;
  }

  nav ul > li .curved-tabs-5:before {
    border-width: 24px 0 0 10px;
    left: -12px;
  }

  nav ul > li .curved-tabs-5:after {
    border-width: 10px 0 0 24px;
    left: -12px;
  }

  nav ul > li .curved-tabs-6 {
    border-width: 20px 0 0 15px;
    right: -14.5px;
  }

  nav ul > li .curved-tabs-6:before {
    border-width: 15px 0 0 20px;
    left: -15px;
  }

  nav ul > li .curved-tabs-6:after {
    border-width: 17px 0 0 17px;
    left: -15px;
  }

  nav ul > li:nth-child(2n) {
    background-color: #e1e1e1;
    z-index: 1;
  }

  nav ul > li:nth-child(2n) .curved-tabs-l,
  nav ul > li:nth-child(2n) .curved-tabs-l:before,
  nav ul > li:nth-child(2n) .curved-tabs-l:after {
    border-color: transparent transparent #e1e1e1 transparent;
  }

  nav ul > li:nth-child(2n) .curved-tabs-r,
  nav ul > li:nth-child(2n) .curved-tabs-r:before,
  nav ul > li:nth-child(2n) .curved-tabs-r:after {
    border-color: transparent transparent transparent #e1e1e1;
  }

  nav ul > li:hover,
  nav ul > li:focus {
    z-index: 3;
    color: #232a34;
  }

  nav ul > li:nth-child(4n) {
    border-top-color: #f0d001;
  }

  nav ul > li:nth-child(4n):hover, nav ul > li:nth-child(4n):focus {
    background: #f0d001;
  }

  nav ul > li:nth-child(2n+1) {
    border-top-color: #95c93d;
  }

  /* 2n+1 needs to be on top because this is only meant to apply to tabs 3 and 5*/
  /* but I can't find a mathematical pattern that will apply to only those*/
  /* So 1,7 are defined more below */
  nav ul > li:nth-child(2n+1):hover, nav ul > li:nth-child(2n+1):focus {
    background: #95c93d;
  }

  nav ul > li:nth-child(2n+1):hover .curved-tabs-l,
  nav ul > li:nth-child(2n+1):hover .curved-tabs-l:before,
  nav ul > li:nth-child(2n+1):hover .curved-tabs-l:after, nav ul > li:nth-child(2n+1):focus .curved-tabs-l,
  nav ul > li:nth-child(2n+1):focus .curved-tabs-l:before,
  nav ul > li:nth-child(2n+1):focus .curved-tabs-l:after {
    border-color: transparent transparent #95c93d transparent;
  }

  nav ul > li:nth-child(2n+1):hover .curved-tabs-r,
  nav ul > li:nth-child(2n+1):hover .curved-tabs-r:before,
  nav ul > li:nth-child(2n+1):hover .curved-tabs-r:after, nav ul > li:nth-child(2n+1):focus .curved-tabs-r,
  nav ul > li:nth-child(2n+1):focus .curved-tabs-r:before,
  nav ul > li:nth-child(2n+1):focus .curved-tabs-r:after {
    border-color: transparent transparent transparent #95c93d;
  }

  nav ul > li:nth-child(4n):hover .curved-tabs-l,
  nav ul > li:nth-child(4n):hover .curved-tabs-l:before,
  nav ul > li:nth-child(4n):hover .curved-tabs-l:after, nav ul > li:nth-child(4n):focus .curved-tabs-l,
  nav ul > li:nth-child(4n):focus .curved-tabs-l:before,
  nav ul > li:nth-child(4n):focus .curved-tabs-l:after {
    border-color: transparent transparent #f0d001 transparent;
  }

  nav ul > li:nth-child(4n):hover .curved-tabs-r,
  nav ul > li:nth-child(4n):hover .curved-tabs-r:before,
  nav ul > li:nth-child(4n):hover .curved-tabs-r:after, nav ul > li:nth-child(4n):focus .curved-tabs-r,
  nav ul > li:nth-child(4n):focus .curved-tabs-r:before,
  nav ul > li:nth-child(4n):focus .curved-tabs-r:after {
    border-color: transparent transparent transparent #f0d001;
  }

  nav ul > li:nth-child(6n+1) {
    border-top-color: #c768ff;
  }

  nav ul > li:nth-child(6n+1):hover, nav ul > li:nth-child(6n+1):focus {
    background: #c768ff;
  }

  nav ul > li:nth-child(6n+1):hover .curved-tabs-l,
  nav ul > li:nth-child(6n+1):hover .curved-tabs-l:before,
  nav ul > li:nth-child(6n+1):hover .curved-tabs-l:after, nav ul > li:nth-child(6n+1):focus .curved-tabs-l,
  nav ul > li:nth-child(6n+1):focus .curved-tabs-l:before,
  nav ul > li:nth-child(6n+1):focus .curved-tabs-l:after {
    border-color: transparent transparent #c768ff transparent;
  }

  nav ul > li:nth-child(6n+1):hover .curved-tabs-r,
  nav ul > li:nth-child(6n+1):hover .curved-tabs-r:before,
  nav ul > li:nth-child(6n+1):hover .curved-tabs-r:after, nav ul > li:nth-child(6n+1):focus .curved-tabs-r,
  nav ul > li:nth-child(6n+1):focus .curved-tabs-r:before,
  nav ul > li:nth-child(6n+1):focus .curved-tabs-r:after {
    border-color: transparent transparent transparent #c768ff;
  }

  nav ul > li:nth-child(4n+2) {
    border-top-color: #7cb5ec;
  }

  nav ul > li:nth-child(4n+2):hover, nav ul > li:nth-child(4n+2):focus {
    background: #7cb5ec;
  }

  nav ul > li:nth-child(4n+2):hover .curved-tabs-l,
  nav ul > li:nth-child(4n+2):hover .curved-tabs-l:before,
  nav ul > li:nth-child(4n+2):hover .curved-tabs-l:after, nav ul > li:nth-child(4n+2):focus .curved-tabs-l,
  nav ul > li:nth-child(4n+2):focus .curved-tabs-l:before,
  nav ul > li:nth-child(4n+2):focus .curved-tabs-l:after {
    border-color: transparent transparent #7cb5ec transparent;
  }

  nav ul > li:nth-child(4n+2):hover .curved-tabs-r,
  nav ul > li:nth-child(4n+2):hover .curved-tabs-r:before,
  nav ul > li:nth-child(4n+2):hover .curved-tabs-r:after, nav ul > li:nth-child(4n+2):focus .curved-tabs-r,
  nav ul > li:nth-child(4n+2):focus .curved-tabs-r:before,
  nav ul > li:nth-child(4n+2):focus .curved-tabs-r:after {
    border-color: transparent transparent transparent #7cb5ec;
  }
}