
.in-manila {
  margin: auto;
  max-width: 43.75em;
}

.in-manila img[alt~="groupwork"] {
  max-width: 100%;
}

.in-manila img {
  max-width: 75%;
}

/* Table */
table {
  /*border: 1px black solid;*/
  border-radius: 4px;
  box-shadow: 1px 1px 4px #000a;
  background-color: white;
  font-family: Calibri;
}

td.column-header {
  font-weight: bold;
  text-align: center;
}

tr > td:nth-child(1) {
  border-right: 1px black dashed;
  min-width: 110px;
}

td {
  padding: 3px 10px;
}

tbody > tr:nth-child(1) >* {
  border-bottom: 1.5px #02a702 solid;
}

tbody > tr:nth-child(odd) {
  background-color: #d7ee96;
}

tbody > tr:nth-child(even) {
  background-color: white;
}



/*mobile*/
@media (max-width: 50em) {
  p {
    font-size: 125%;
  }

  .intro_content {
    padding-left: 0.8em;
    padding-right: 0.5em
  }
}

/*https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/*/

blockquote {
  background:  #fff5cc;
  border-left: 10px solid #ffe066;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}