* {
	font-family: Calibri;
}

.materials-content > h1 {
	padding-left: 0;
	font-weight: lighter;
	margin-bottom: 0;
	font-family: Cambria;
}

h1 + h2 {
	margin-top: 0.2em;
}

.materials-content > h3 {
	font-size: 1em;
	margin-bottom: 0.2em;
	margin-top: 0;
}