<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
<!-- HTML Codes by Quackit.com -->
<title>
Kirn Hans {% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Portfolio, resume, kirn hans,">
<meta name="description" content="Kirn Hans: teacher, developer, lifelong learner. ">
<meta property="og:image" content="https://kirnhans.com/static/images/kirn_headshot.jpg" />

<link rel="stylesheet" href="static/standards.css">
<!-- todo ^ move stuff from standards.css to base.css -->
<link rel="stylesheet" href="static/base.css">
<!-- favicon, code from https://favicon.io/favicon-converter/ -->
<!-- favicon image: https://pixahive.com/photo/pink-sacred-lotus-on-focus/, Creative Commons License -->
<link rel="apple-touch-icon" sizes="180x180" href="static/images/lotus_favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/images/lotus_favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/images/lotus_favicon/favicon-16x16.png">
<link rel="manifest" href="static/images/lotus_favicon/site.webmanifest">
{% block head %}{% endblock %}
</head>
<body>
<h1><a href="./index.html">Kirn Hans</a>
<!-- todo: Slider from Teacher to Developer -->
<label class="switch">
  <input type="checkbox">
  <span class="slider round">
    <span class="slider-title">
    {% block slider %}
    {% endblock %}
  </span>
  </span>
</label>
</h1>

<main>
{% block body %}
{% endblock %}
</main>
<br>

<footer class="ribbon-color">
  <address class="contact-details">
    <ul class="contact-details">
      <li>Kirn Hans </li>
      <li>kirn.hans[at]gmail.com</li>
      <li><a href="https://www.linkedin.com/in/kirn-hans-370819a5/">LinkedIn</a></li>
    </ul>
  </address>
  <span class="history-acknowledgment">
    I would like to acknowledge the Aboriginal and Torres Strait Islander people who are the traditional custodians of the land, sea country, and waterways of Australia. I pay my respects to their Elders past, present, and emerging.
  </span>
</footer>

</body>
</html>