<!DOCTYPE html>
<!-- favicon: https://pixahive.com/photo/pink-sacred-lotus-on-focus/, Creative Commons License -->
<html>
<head>
<!-- HTML Codes by Quackit.com -->
<title>
Kirn Hans Portfolio {% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Portfolio, resume, kirn hans,">
<meta name="description" content="Kirn Hans: teacher, developer, lifelong learner. ">
<link rel="stylesheet" href="static/standards.css">
<!-- favicon, code from https://favicon.io/favicon-converter/ -->
<link rel="apple-touch-icon" sizes="180x180" href="static/images/lotus_favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/images/lotus_favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/images/lotus_favicon/favicon-16x16.png">
<link rel="manifest" href="static/images/lotus_favicon/site.webmanifest">
{% block head %}{% endblock %}
</head>
<body>
<h1><a href="./index.html">Kirn Hans</a></h1>
{% block body %}
{% endblock %}

<br>

<div class="footer ribbon-color">
  <span class="contact-details">
    <ul class="contact-details">
      <li>Kirn Hans </li>
      <li>kirn.hans@gmail.com</li>
      <li>+61 (local number)</li>
      <li><a href="https://www.linkedin.com/in/kirn-hans-370819a5/">LinkedIn</a></li>
    </ul>
  </span>
  <span class="history-acknowledgment">
    I would like to acknowledge the Aboriginal and Torres Strait Islander people who are the traditional custodians of the land, sea country, and waterways of Australia. I pay my respects to their Elders past, present, and emerging.
  </span>
</div>

</body>
</html>