<!DOCTYPE html>
<!-- favicon: https://pixahive.com/photo/pink-sacred-lotus-on-focus/, Creative Commons License -->
<html>
<head>
<!-- HTML Codes by Quackit.com -->
<title>
Kirn Hans Portfolio {% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Portfolio, resume, kirn hans,">
<meta name="description" content="Kirn Hans: teacher, developer, lifelong learner. ">
<link rel="stylesheet" href="static/standards.css">
<!-- favicon, code from https://favicon.io/favicon-converter/ -->
<link rel="apple-touch-icon" sizes="180x180" href="static/lotus_favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/lotus_favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/lotus_favicon/favicon-16x16.png">
<link rel="manifest" href="static/lotus_favicon/site.webmanifest">
</head>
<body>
<h1><a href="./intro.html">Kirn Hans</a></h1>
{% block body %}
{% endblock %}
</body>
</html>