{% extends 'base.html' %}
{% block title %}: My Bookmarks {% endblock %}
{% block head %}
<script src="static/bookmarks.js"></script>
<!-- source: http://jlizanab.github.io/FFolders/ -->
<link href="static/FFolders-master/css/ffolders.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/bookmarks.css">
{% endblock %}

{% block slider_link %} "./developer.html" {% endblock %}
{% block slider_name %} Teacher {% endblock %}
<!-- <script type="text/javascript">
    //might be blocked by modern js
    document.getElementById("slider_button").onclick = function () {
        location.href = "./developer.html";
    };
</script> -->

{% block body %}
<div class="intro_content">
    <!-- todo add parent div for this to help alignment -->

  <div class="back-manila">
    <div class="intro manila">

        <!-- search bar -->
        <div class="topnav">
            <div class="search-container">
                <form id="search">
                    <!-- TODO: replace with search icon -->
                    <input type="text" placeholder="Search.."    name="search" id="search_input">
                    <button name="reset_btn" type="reset"><i class="fa fa-close"></i></button>
                    <!-- <button name="search_btn"><i class="fa fa-search"></i></button> -->
                </form>
            </div>
        </div>
        <div class = "bookmarks-content">
            {{bookmarks_content}}
        </div>

        <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeoPFPRIiJb6lFsqNWRx7_n1I2dG7X3ajFkjwtPACW03FyeiQ/viewform?embedded=true" width="640" height="1146" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
    </div>
</div>

{% endblock %}