{% extends 'base.html' %}
{% block title %}: Teacher {% endblock %}
{% block head %}
<script src="static/bookmarks.js"></script>
<!-- source: http://jlizanab.github.io/FFolders/ -->
<link href="static/FFolders-master/css/ffolders.min.css" rel="stylesheet">
<link rel="stylesheet" href="static/bookmarks.css">
{% endblock %}

{% block slider_link %} "./developer.html" {% endblock %}
{% block slider_name %} Teacher {% endblock %}
<!-- <script type="text/javascript">
    //might be blocked by modern js
    document.getElementById("slider_button").onclick = function () {
        location.href = "./developer.html";
    };
</script> -->

{% block body %}
<div class="intro_content">
    <!-- todo add parent div for this to help alignment -->

  <div class="back-manila">
    <div class="intro manila">

    <!-- search bar -->
    <!-- todo: center -->
    <form id="search">
    <label for="search"> Search </label>
    <input type="text" name="search" id="search_bar">
    <button name="search_btn">Search</button>
    <button name="reset_btn" type="reset">Reset</button>
  </form>

        {{bookmarks_content}}
    </div>
  </div>

{% endblock %}