<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
<!-- HTML Codes by Quackit.com -->
<title>
Kirn Hans: Developer
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Portfolio, resume, kirn hans,">
<meta name="description" content="Kirn Hans: teacher, developer, lifelong learner. ">
<meta property="og:image" content="https://kirnhans.com/static/images/kirn_headshot.jpg" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="static/dev.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/dev.css">
<!-- favicon, code from https://favicon.io/favicon-converter/ -->
<!-- favicon image: https://pixahive.com/photo/pink-sacred-lotus-on-focus/, Creative Commons License -->
<link rel="apple-touch-icon" sizes="180x180" href="static/images/lotus_favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/images/lotus_favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/images/lotus_favicon/favicon-16x16.png">
<link rel="manifest" href="static/images/lotus_favicon/site.webmanifest">
</head>
<body>
<h1><a href="./index.html">Kirn Hans</a></h1>
<!-- todo: Slider from Teacher to Developer -->
<main>


<!-- http://bucarotechelp.com/design/jseasy/88022601.asp?x=43&y=4&page=1 -->
<div id="viewport">
<img id="butterflybody" src="static/images/butterfly/body.gif" />
<img id="w1" src="static/images/butterfly/w1.gif" />
<!-- <img id="w2" src="static/images/butterfly/w2.gif" />
<img id="w3" src="static/images/butterfly/w3.gif" />
<img id="w4" src="static/images/butterfly/w4.gif" />
<img id="w5" src="static/images/butterfly/w5.gif" />
<img id="w6" src="static/images/butterfly/w6.gif" /> -->
</div>
</main>
<br>

</body>
</html>