{% extends 'base.html' %}
{% block title %}: Developer {% endblock %}
{% block head %}
<script src="static/dev.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/dev.css">
{% endblock %}

{% block slider_link %} "./index.html" {% endblock %}
{% block slider_name %} Developer {% endblock %}

{% block body %}
<main>


<!-- http://bucarotechelp.com/design/jseasy/88022601.asp?x=43&y=4&page=1 -->
<div id="viewport">
<img id="butterflybody" src="static/images/butterfly/body.gif" />
<img id="butterflywing" src="static/images/butterfly/butterflywing.gif" />
</div>
</main>
<br>
{% endblock %}
