{% extends 'base.html' %}
{% block title %} Introduction {% endblock %}
{% block head %}
<!-- source: http://jlizanab.github.io/FFolders/ -->
<link href="static/FFolders-master/css/ffolders.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="content">
<img src="static/kirn_ravenclaw.jpg" alt="Me, dressed as a Ravenclaw for Halloween" class="intro_pic">
<p>Hello! I'm a Mathematics teacher for secondary school in New South Wales.</p>
<p>I was a software engineer for three years. As such, I know my way around computers and how to explain introductory programming. (As an undergrad, I led a seminar on algorithms for Year 8 girls.) My years in the industry further equip me to shed light on STEM careers for students.</p>
<p>I am also an avid cyclist and have completed two rides of 100km, known as Gran Fondos (unofficial). I am well-informed of several different pop culture fandoms, allowing me to connect with students in terms of media. I have studied behavioural interventions and am able to assist students with problem behaviour, with a varied knowledge of various counselling principles, such as mindfulness, dialectics, correcting cognitive distortions, self-regulation, etc. </p>
<p>I believe these skills place me well to be an asset to my students and my fellow staff members.</p>

<div class="horizontally-centered">
	<div class="ffolder big yellow">
		<div class="centered">
		    <img src = "static/aitsl_logo.jpeg" class="folder_pic"><br>
		    <a href="./standard1.html"> Graduate Teaching Standards </a>
		</div>
	</div>
</div>

</div>
{% endblock %}