{% extends 'base.html' %}
{% block title %} Standard {{standard_num}} {% endblock %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="static/standards.js"></script>
{% endblock %}

{% block body %}
<!-- todo: Slider from Teacher to Developer -->
<!-- tabs from from https://phoenixweb.com.au/rounded-manila-folder-style-menu-tabs-using-css-triangles/  -->
<nav class="menu_main_nav_area" id="menu_main_nav_area">
  <ul id="menu_nav_ul">
    <li>
      <a href="./standard1.html">Standard 1</a>
      <div class="curved-tabs curved-tabs-l curved-tabs-1"></div>
      <div class="curved-tabs curved-tabs-l curved-tabs-2"></div>
      <div class="curved-tabs curved-tabs-l curved-tabs-3"></div>
      <div class="curved-tabs curved-tabs-r curved-tabs-4"></div>
      <div class="curved-tabs curved-tabs-r curved-tabs-5"></div>
      <div class="curved-tabs curved-tabs-r curved-tabs-6"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-7"></div>
    </li>   
    <li>
      <a href="./standard2.html">Standard 2</a>
      <div class="curved-tabs curved-tabs-l curved-tabs-1"></div>
      <div class="curved-tabs curved-tabs-l curved-tabs-2"></div>
      <div class="curved-tabs curved-tabs-l curved-tabs-3"></div>
      <div class="curved-tabs curved-tabs-r curved-tabs-4"></div>
      <div class="curved-tabs curved-tabs-r curved-tabs-5"></div>
      <div class="curved-tabs curved-tabs-r curved-tabs-6"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-7"></div>
     </li>
     <li>
       <a href="./standard3.html">Standard 3</a>
       <div class="curved-tabs curved-tabs-l curved-tabs-1"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-2"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-3"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-4"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-5"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-6"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-7"></div>
     </li>
     <li>
       <a href="./standard4.html">Standard 4</a>
       <div class="curved-tabs curved-tabs-l curved-tabs-1"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-2"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-3"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-4"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-5"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-6"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-7"></div>
     </li>
     <li>
       <a href="./standard5.html">Standard 5</a>
       <div class="curved-tabs curved-tabs-l curved-tabs-1"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-2"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-3"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-4"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-5"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-6"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-7"></div>
     </li>
     <li>
       <a href="./standard6.html">Standard 6</a>
       <div class="curved-tabs curved-tabs-l curved-tabs-1"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-2"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-3"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-4"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-5"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-6"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-7"></div>
     </li>
     <li>
       <a href="./standard7.html">Standard 7</a>
       <div class="curved-tabs curved-tabs-l curved-tabs-1"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-2"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-3"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-4"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-5"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-6"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-7"></div>
     </li>
  </ul>
</nav>

  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="hamburger icon" onclick="clickHamburger()">
    <i class="fa fa-bars"></i>
  </a>

<div class="below-nav">
  <div class="back-manila">
<div class="manila">
  <div class="in-manila">
<h2>Standard {{standard_num}}: {{standard_head}} </h2>

<p>
{{standard_essay}}
</p>
<br>
</div>
</div>
</div>
</div>
{% endblock %}