{% extends ‘base.html’ %}
{% block title %} Standard {{standard_num}} {% endblock %}
{% block body %}
<!-- todo: Slider from Teacher to Developer -->
<!-- tabs from from https://phoenixweb.com.au/rounded-manila-folder-style-menu-tabs-using-css-triangles/  -->
<nav class="menu_main_nav_area">
  <ul>
    <li>
      <a href=".">Standard 1</a>
      <div class="curved-tabs curved-tabs-l curved-tabs-1"></div>
      <div class="curved-tabs curved-tabs-l curved-tabs-2"></div>
      <div class="curved-tabs curved-tabs-l curved-tabs-3"></div>
      <div class="curved-tabs curved-tabs-r curved-tabs-4"></div>
      <div class="curved-tabs curved-tabs-r curved-tabs-5"></div>
      <div class="curved-tabs curved-tabs-r curved-tabs-6"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-7"></div>
    </li>   
    <li>
      <a href="./standard2.html">Standard 2</a>
      <div class="curved-tabs curved-tabs-l curved-tabs-1"></div>
      <div class="curved-tabs curved-tabs-l curved-tabs-2"></div>
      <div class="curved-tabs curved-tabs-l curved-tabs-3"></div>
      <div class="curved-tabs curved-tabs-r curved-tabs-4"></div>
      <div class="curved-tabs curved-tabs-r curved-tabs-5"></div>
      <div class="curved-tabs curved-tabs-r curved-tabs-6"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-7"></div>
     </li>
     <li>
       <a href="./standard3.html">Standard 3</a>
       <div class="curved-tabs curved-tabs-l curved-tabs-1"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-2"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-3"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-4"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-5"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-6"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-7"></div>
     </li>
     <li>
       <a href="./standard4.html">Standard 4</a>
       <div class="curved-tabs curved-tabs-l curved-tabs-1"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-2"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-3"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-4"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-5"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-6"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-7"></div>
     </li>
     <li>
       <a href="./standard5.html">Standard 5</a>
       <div class="curved-tabs curved-tabs-l curved-tabs-1"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-2"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-3"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-4"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-5"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-6"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-7"></div>
     </li>
     <li>
       <a href="./standard6.html">Standard 6</a>
       <div class="curved-tabs curved-tabs-l curved-tabs-1"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-2"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-3"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-4"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-5"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-6"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-7"></div>
     </li>
     <li>
       <a href="./standard7.html">Standard 7</a>
       <div class="curved-tabs curved-tabs-l curved-tabs-1"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-2"></div>
       <div class="curved-tabs curved-tabs-l curved-tabs-3"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-4"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-5"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-6"></div>
       <div class="curved-tabs curved-tabs-r curved-tabs-7"></div>
     </li>
  </ul>
</nav>
<!-- </br></br></br><br><br> -->
<div class="below-nav">
<div class="manila">
    <hr>
<h2>Standard {{standard_num}}: {{standard_text}} </h2>
</div>
</div>
{% endblock %}